{include file="public/_header" /}
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a>
              <cite>{$title}</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                                <div class="layui-show-xs-block">
									可被覆盖的区域百分比: 
									<select name="errorCorrectionLevel" id="errorCorrectionLevel">
									  <option value="L" {if(!empty($config) && $config->errorCorrectionLevel == 'L')}selected{/if}>7%</option>
									  <option value="M" {if(!empty($config) && $config->errorCorrectionLevel == 'M')}selected{/if}>15%</option>
									  <option value="Q" {if(!empty($config) && $config->errorCorrectionLevel == 'Q')}selected{/if}>25%</option>
									  <option value="H" {if(empty($config) || $config->errorCorrectionLevel == 'H')}selected{/if}>30%</option>
									</select>
                                </div>
                                <div class="layui-show-xs-block">
								内容 : 
                                    <input class="layui-input"  autocomplete="off" placeholder="内容" name="content" id="content" value="{if(!empty($config))}{$config->content}{else}lilymin.com{/if}">
                                </div>
                                <div class="layui-show-xs-block">
								生成图片大小 : 
                                    <input class="layui-input"  autocomplete="off" placeholder="生成图片大小" name="matrixPointSize" id="matrixPointSize" value="{if(!empty($config))}{$config->matrixPointSize}{else}10{/if}">
                                </div>
                                <div class="layui-show-xs-block">
								空白区域: 
                                    <input type="text" name="margin" id="margin" placeholder="空白区域" autocomplete="off" class="layui-input" value="{if(!empty($config))}{$config->margin}{else}2{/if}">
                                </div>
                                <div class="layui-show-xs-block">
								中间logo：
								  <input type="radio" name="logo_state" value="0" title="关闭" {if(empty($config->logo_state) || $config->logo_state == 0)}checked{/if} lay-filter="logo_state">
								  <input type="radio" name="logo_state" value="1" title="开启" {if(!empty($config->logo_state) && $config->logo_state == 1)}checked{/if} lay-filter="logo_state">
                                </div>
                                <div id="logo" {if(empty($config->logo_state) || $config->logo_state == 0)}style="display:none"{/if}>
								logo：
								<button type="button" class="layui-btn" onclick="xadmin.open('添加图片','/image-plugin')">添加图片</button>
								<div class="layui-show-xs-block" id="select_images">
								缩略图 : <img src="{$config->logo}" style='width:100px;height:100px;margin:10px;'>
                                </div>
                                </div>
                                <div class="layui-show-xs-block">
                                    <button class="layui-btn"  lay-submit="" lay-filter="add">保存</button>
                                </div>
								
								
								
                            </form>
							
							
                                <div class="layui-show-xs-block">
									
									<img src="" id="qrcodeTest" style='width:200px;height:200px;margin:10px;'>
									
                                    <button class="layui-btn"  onclick="tts()">测试</button>
                                </div>
							
                        </div>
                        
                    </div>
                </div>
            </div>
        </div> 
	<script>
	layui.use(['form', 'layer'],function() {
				$ = layui.jquery;
                var form = layui.form;
                var layer = layui.layer;
				var logo_state = $("input[name='logo_state']:checked").val();
				form.on('radio(logo_state)', function(data){
					if(data.value == 1){
						$('#logo').css('display','');
					}else{
						$('#logo').css('display','none');
					}
				  logo_state = data.value; //被点击的radio的value值
				});
                //监听提交
                form.on('submit(add)',function(data) {
				data.field.logo_state = logo_state;
				data.field.logo = $("#select_images").children('img').attr('src');
				console.log(data.field);return false;
                    //发异步，把数据提交给php
					$.ajax({
						type:"post",
						url:'/qrcode-config',
						data:{data:data.field},
						success:function(data){
						  var data = JSON.parse(data);
						  if(data.code == 1){
							layer.msg(data.msg, {icon: 1});
							setTimeout(function () {
							  location.reload();
							},2000);
						  }else{
							layer.msg(data.msg, {icon: 2});
						  }
						}
					});
                    return false;
                });
				});
			
				function image(arr){
					if(arr.length > 1){
						layer.msg('只能选择一个', {icon: 2});
						return false;
					}
					$("#select_images").children('img').remove();
					for(var i=0;i<arr.length;i++){
						$("#select_images").append("<img src='"+arr[i]+"' style='width:100px;height:100px;margin:10px;'>");
					}
				}
				
	function tts(){
		var data = {};
		data.errorCorrectionLevel = $('#errorCorrectionLevel').val();
		data.content = $('#content').val();
		data.matrixPointSize = $('#matrixPointSize').val();
		data.margin = $('#margin').val();
		data.logo_state = $("input[name='logo_state']:checked").val();
		data.logo = $("#select_images").children('img').attr('src');
		console.log(data);
		$.ajax({
			type:"get",
			url:'/qrcode',
			data:{data:data},
			success:function(data){
			var data = JSON.parse(data);
			  if(data.code == 1){
				console.log(data);
				layer.msg(data.msg, {icon: 1});
				$('#qrcodeTest').attr('src',data.data);
			  }else{
				layer.msg(data.msg, {icon: 2});
			  }
			}
		});
	}
			
	</script>
{include file="public/_footer" /}