{include file="public/_header" /}
        <div class="layui-fluid">
            <div class="layui-row">
                  <div class="layui-form-item">
                      <label for="username" class="layui-form-label">
                          <span class="x-red">*</span>意见反馈
                      </label>
					  <textarea name="" class="layui-textarea" style="width:100%">{$list['content']}</textarea>
                  </div>
            </div>
        </div>
{include file="public/_footer" /}
