<html>
	{include file="public/header" /}
	{include file="public/js" /}
<body>

<script src="https://translate.google.cn/translate_a/element.js?cb=googleTranslateElementInit"></script>
<div id="google_translate_element" style="position:absolute;bottom:10px;right:10px;z-index:2000;opacity:0.7;width:200px;height:100px"></div>
<script>

delCookie("googtrans");
function delCookie(name) {
	var Days = 30;
	var exp = new Date();
	exp.setTime(exp.getTime() - Days * 24 * 60 * 60 * 30);

	//这里一定要注意，如果直接访问ip的话，不用注明域名domain
	//但访问的是域名例如www.baidu.com时，翻译插件的cookie同时存在于一级和二级域名中
	//即删除翻译cookie时要把domain=www.baidu.com和domain=.baidu.com两个cookie一起删除才行
	var domain = document.domain;
	var domainIsIp = false;
	var dd = domain.split(".");
	if(dd.length==4){
		domainIsIp=true;
	}
	document.cookie = name + "='';path=/;expires="+ exp.toUTCString();
	if(domainIsIp==false){
		domain="."+dd[1]+"."+dd[2];
		document.cookie = name + "='';domain="+domain+";expires="+exp.toGMTString()+";path=/";
	}
}
<?php if(isset($_GET['lang'])){?>

function googleTranslateElementInit() {
 
	new google.translate.TranslateElement(
		{
                //这个参数不起作用，看文章底部更新，翻译面板的语言
                //pageLanguage: 'zh-CN',
            //这个是你需要翻译的语言，比如你只需要翻译成越南和英语，这里就只写en,vi
			includedLanguages: 'en,zh-CN,hr,cs,da,nl,fr,de,el,iw,hu,ga,it,ja,ko,pt,ro,ru,sr,es,th,vi',
            //选择语言的样式，这个是面板，还有下拉框的样式，具体的记不到了，找不到api~~
			layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
            //自动显示翻译横幅，就是翻译后顶部出现的那个，有点丑，这个属性没有用的话，请看文章底部的其他方法
			autoDisplay: false, 
			//还有些其他参数，由于原插件不再维护，找不到详细api了，将就了，实在不行直接上dom操作
		}, 
		'google_translate_element'//触发按钮的id
	);
 
}
var lang = "<?php echo isset($_GET['lang'])?$_GET['lang']:'auto'; ?>";
document.cookie = "googtrans = /auto/"+lang;

<?php } ?>
</script>
{include file="public/login" /}
{include file="public/share" /}
{if(!empty($error_tips))}
{$error_tips}
{else}
<p>标题：{$novel_info['title']}</p>
<p>状态：{$novel_info['novel_state']['text']}</p>
<p></p>
	<h1>小说章节</h1>
	{foreach $novel as $k=>$v}
	<div style="height:40px"><a href="/chapter_content/{$v['id']}/{$v['novel_id']}">{$v['title']}</a></div>
	{/foreach}
	{$novel|raw}
{/if}
</body>
{include file="public/js" /}
</html>
