{include file="public/_header" type="edit"/}
<!--数据库列表修改-->
<form class="layui-form">
	{caption:field caption="caption" id='$data.id' /}
	{if(!isset($data))}
	<div class="layui-form-item">
		<label for="check" class="layui-form-label"><span class="x-red">*</span>检查是否存在</label>
		<div class="layui-input-inline">
		<input type="radio" name="check" value="1" title="是" checked>
		<input type="radio" name="check" value="0" title="否">
		</div>
	</div>
	{else}
	<div class="layui-form-item">
		<label for="search" class="layui-form-label"><span class="x-red">*</span>搜索框</label>
		<div class="layui-input-inline">
			<p>日期选择</p>
			<input type="checkbox" name="search" value="date" title="日期" {if(in_array('date',$data['field_id']))}checked{/if}>
			<p>模糊搜索</p>
			{foreach $field as $v}
			{if($v['type']['type'] == 'varchar')}
			<input type="checkbox" name="search" value="{$v['id']}" title="{$v['beizhu']}" {if(in_array($v['id'],$data['field_id']))}checked{/if}>
			{/if}
			{/foreach}
			<p>下拉搜索</p>
			{foreach $field as $v}
			{if($v['type']['type'] == 'radio')}
			<input type="checkbox" name="search" value="{$v['id']}" title="{$v['beizhu']}" {if(in_array($v['id'],$data['field_id']))}checked{/if}>
			{/if}
			{/foreach}
		</div>
	</div>
	{/if}
	<div class="layui-form-item">
		<label for="join" class="layui-form-label"><span class="x-red">*</span>关联表</label>
		<div class="layui-input-inline">
			<input type="checkbox" name="join" value="date" title="日期" lay-filter="join">
			<input type="checkbox" name="join" value="date" title="日期" lay-filter="join">
		</div>
	</div>
	<div class="layui-form-item">
		<label for="L_repass" class="layui-form-label"></label>
		{if(isset($data))}
		<input type="hidden" name="id" value="{$data['id']}" />
		<button  class="layui-btn" lay-filter="edit" lay-submit="" id="wait">修改</button>
		{else}
		<button  class="layui-btn" lay-filter="add" lay-submit="" id="wait">添加</button>
		{/if}
	</div>
</form>
<script>
layui.use(['form', 'layer'],function() {
	var $ = layui.jquery,
		form = layui.form,
		layer = layui.layer;
	//监听提交
	form.on('submit(add)',function(data) {
		editajax('post','/caption/doedit',data.field);
		return false;
	});
	form.on('submit(edit)',function(data) {
		var search = [];
		$('input[name="search"]:checked').each(function() {
		  search.push($(this).val());
		});
		data.field.field_id = search;
		editajax('post','/caption/doedit',data.field);
		return false;
	});
	form.on('checkbox(join)', function(data){
		console.log(data.elem.checked); //是否被选中，true或者false
		console.log(data.value); //复选框value值，也可以通过data.elem.value得到
	});
});
</script>
{include file="public/_footer" type="edit"/}