{include file="public/_header" /}
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                  <div class="layui-form-item">
                      <label for="title" class="layui-form-label">
                          <span class="x-red">*</span>标题
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="title" name="title" required="" autocomplete="off" class="layui-input" {if(!empty($list['title']))}value="{$list['title']}"{/if}>
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          <span class="x-red">*</span>必填
                      </div>
                  </div>
				  <div class="layui-form-item">
                      <label for="title" class="layui-form-label">
                          <span class="x-red">*</span>类型
                      </label>
                      <div class="layui-input-inline">
                         <select name="tid" lay-verify="required">
						 {foreach $type as $v}
						<option value="{$v['id']}"  {if(!empty($list['tid']) && $list['tid'] == $v['id'])}selected{/if}>{$v['name']}</option>
						{/foreach}
					  </select>
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          <span class="x-red">*</span>必填
                      </div>
                  </div>
				  <div class="layui-form-item">
                      <label for="content" class="layui-form-label">
                          <span class="x-red">*</span>内容
                      </label>
                      <div style="float: left;margin-right: 10px;">
						<div style="width:800px;height:600px">
							<textarea id="editor" type="text/plain">{if(!empty($list['content']))}{$list['content']}{/if}</textarea>
						</div>
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          <span class="x-red">*</span>必填
                      </div>
                  </div>
				  <div class="layui-form-item">
                      <label class="layui-form-label">
                          <span class="x-red">*</span>图片
                      </label>
                      <div class="layui-input-inline">
                         <button type="button" class="layui-btn" id="uploads">
						  <i class="layui-icon">&#xe67c;</i>上传图片
						</button>
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          <span class="x-red">*</span>可选
                      </div>
                  </div>
				  <div class="layui-form-item" id="pipipi" {if(empty($list['pic']))}style="display:none;"{/if}>
                      <label class="layui-form-label">
                          <span class="x-red">*</span>图片预览
                      </label>
					  <div id="picend">
					  {if(!empty($list['pic']))}
					  {foreach $list['pic'] as $v}
					  <div class="imgbox" style="width:150px;height:150px;padding:10px;float:left;position: relative;border:1px double #ccc">
					  <span class="removeimg1" style="cursor: pointer;width:24px;height:24px;font-size:16px;text-align:center;line-height:24px;background: #000;color:#fff;position: absolute;right:0;top:0">x</span>
					  <img src="{$v}" height="100%" width="100%">
					  </div>
					  {/foreach}
					  {/if}
						 </div>
                  </div>
				  <div class="layui-form-item">
                      <label for="state" class="layui-form-label">
                          <span class="x-red">*</span>状态
                      </label>
                      <div class="layui-input-inline">
                      <input type="radio" name="state" value="1" title="显示" {if(!empty($list) && $list['state']['state'] == 1 || empty($list))}checked{/if}>
					  <input type="radio" name="state" value="0" title="隐藏" {if(!empty($list) && $list['state']['state'] == 0)}checked{/if}>
                      </div>
                  </div>
				  {if(!empty($list))}
					<input type="hidden" name="id" value="{$list['id']}">
				  {/if}
                  <div class="layui-form-item">
                      <label for="L_repass" class="layui-form-label">
                      </label>
                      <button  class="layui-btn" lay-filter="add" lay-submit="">
                          {if(!empty($list))}确认修改{else}增加{/if}
                      </button>
                  </div>
              </form>
            </div>
        </div>		
		
        <script>
		//实例化百度编辑器
		var ue = UE.getEditor('editor',{
			initialFrameWidth :1000,//设置编辑器宽度
			initialFrameHeight:500,//设置编辑器高度
			scaleEnabled:true//设置不自动调整高度
		});
		
		var files = [];
		{if(!empty($list['pic']))}
		var delfiles = [];
		{foreach $list['pic'] as $v}
		files.push("{$v}");
		{/foreach}
		console.log(files);
		{/if}
        	
		layui.use('upload', function(){
		  var upload = layui.upload;
		   
		  //执行实例
		  var uploadInst = upload.render({
			elem: '#uploads' //绑定元素
			,url: '/article-edit/files' //上传接口
			,method: 'post'
			,multiple: true
			,number: 5
			,field : 'pic'
			,acceptMime:'image/*'
			,done: function(res){
			console.log(res);
			  //上传完毕回调
			  $('#pipipi').css('display','block');
			  files.push(res.data);
			  $('#picend').append('<div class="imgbox" style="width:150px;height:150px;padding:10px;float:left;position: relative;border:1px double #ccc"><span class="removeimg" style="cursor: pointer;width:24px;height:24px;font-size:16px;text-align:center;line-height:24px;background: #000;color:#fff;position: absolute;right:0;top:0">x</span><img src="'+res.data+'" height="100%" width="100%"></div>');
				//记录上传图片
				localStorage.setItem('lpic',JSON.stringify(files));
			}
			,error: function(res){
			  //请求异常回调
			  console.log(res)
			}
		  });
		});
		
		$('body').on('click',".removeimg",function(){
			var that=$(this);
			console.log(that)
		var path = $(this).siblings("img").attr("src");
			$.ajax({
				type:"post",
				url:'/delfiles',
				data:{data:path},
				success:function(data){
				  var data = JSON.parse(data);
				  console.log(data)
				  
				  if(data.code == 1){
				  	console.log(that)
					that.parent(".imgbox").remove();
					files.splice(jQuery.inArray(that.siblings("img").attr("src"),files),1);
					if(files.length==0){
						$('#pipipi').css('display','none');
					}
					localStorage.setItem('lpic',JSON.stringify(files));
					layer.msg(data.msg, {icon: 1});
				  }else{
					layer.msg(data.msg, {icon: 2});
				  }
				}
			});
		})
		$('body').on('click',".removeimg1",function(){
		var path = $(this).siblings("img").attr("src");
			$(this).parent(".imgbox").remove();
			delfiles.push(path);
			files.splice(jQuery.inArray($(this).siblings("img").attr("src"),files),1);
			if(files.length==0){
				$('#pipipi').css('display','none');
			}
//			console.log(delfiles);
		})		
		
		layui.use(['form', 'layer'],function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //监听提交
                form.on('submit(add)',function(data) {
				//百度编辑器添加
				data.field.content = UE.getEditor('editor').getContent();
                    //发异步，把数据提交给php
					var str = '';
					for(var i = 0;i<files.length;i++){
						str += ','+files[i];
					}
					data.field.pic = str;
					{if(!empty($list['pic']))}
					data.field.delpic = delfiles;
					{/if}
					
					
					$.ajax({
						type:"post",
						url:'/article-edit/doadd',
						data:{data:data.field},
						success:function(data){
						  var data = JSON.parse(data);
						  if(data.code == 1){
							layer.msg(data.msg, {icon: 1});
							localStorage.removeItem('lpic');
							var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
							setTimeout(function () {
							  parent.layer.close(index);
							  parent.location.reload();
							},1000);
						  }else{
							layer.msg(data.msg, {icon: 2});
						  }
						}
					});
                    return false;
                });

            });
            
            
			</script>
{include file="public/_footer" /}