<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
		<link rel="stylesheet" href="/static/admin/css/font.css">
		<link rel="stylesheet" href="/static/admin/css/xadmin.css">
		<!-- <link rel="stylesheet" href="./css/theme5.css"> -->
		<script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
		<script type="text/javascript" src="/static/admin/js/xadmin.js"></script>
		<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
        {include file="public/style" /}
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                  <div class="layui-form-item">
                      <label for="name" class="layui-form-label">
                          <span class="x-red">*</span>类型
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="name" name="name" required="" autocomplete="off" class="layui-input" {if(!empty($list['name']))}value="{$list['name']}"{/if}>
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          <span class="x-red">*</span>{if(!empty($list))}不可修改{else}将会成为您唯一的登入名,将不可修改{/if}
                      </div>
                  </div>
				  <div class="layui-form-item">
                      <label for="state" class="layui-form-label">
                          <span class="x-red">*</span>状态
                      </label>
                      <div class="layui-input-inline">
                      <input type="radio" name="state" value="1" title="显示" {if(!empty($list) && $list['state'] == 1)}checked{/if}>
					  <input type="radio" name="state" value="0" title="隐藏" {if(!empty($list) && $list['state'] == 0)}checked{/if}>
                      </div>
                  </div>
				  {if(!empty($list))}
					<input type="hidden" name="id" value="{$list['id']}">
				  {/if}
                  <div class="layui-form-item">
                      <label for="L_repass" class="layui-form-label">
                      </label>
                      <button  class="layui-btn" lay-filter="add" lay-submit="">
                          {if(!empty($list))}确认修改{else}增加{/if}
                      </button>
                  </div>
              </form>
            </div>
        </div>
        <script>
		layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //自定义验证规则
                //form.verify({
                //    username: function(value) {
                //        if (value.length < 5) {
                //            return '昵称至少得5个字符啊';
                //        }
                //    },
                //    password: [/(.+){6,12}$/, '密码必须6到12位'],
                //    repass: function(value) {
                //        if ($('#L_pass').val() != $('#L_repass').val()) {
                //            return '两次密码不一致';
                //        }
                //    }
                //});

                //监听提交
                form.on('submit(add)',function(data) {
                    //发异步，把数据提交给php
					$.ajax({
						type:"post",
						url:'/article-type-edit/doadd',
						data:{data:data.field},
						success:function(data){
						  var data = JSON.parse(data);
						  if(data.code == 1){
							layer.msg(data.msg, {icon: 1});
							var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
							setTimeout(function () {
							  parent.layer.close(index);
							  parent.location.reload();
							},1000);
						  }else{
							layer.msg(data.msg, {icon: 2});
						  }
						}
					});
                    return false;
                });

            });</script>
    </body>

</html>
